body {
    background-color: bisque;
}

h1 {
    color: black;
    text-align: center;
}

h2 {
    text-align: center;
}

.quadrado, .circulo, .triangulo, .hexagono {
    transition: transform 0.5s ease, fill 0.5s ease;
    transform-origin: center;
}

.quadrado:hover {
    transform: rotate(45deg) scale(1.2);
    fill: orange;
}

.circulo:hover {
    transform: scale(1.5);
    fill: lightgreen;
}

.triangulo:hover {
    transform: translateY(-10px);
    fill: violet;
}

.hexagono:hover {
    transform: rotate(360deg);
    fill: gold;
}